<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <th>Titulo</th>
    <th>Autor</th>
    <th>Isbn</th>
    <th>Categoria</th>
    <th>Fecha de ingreso</th>
    </thead>
    <th:block th:each ="libro, row: ${libros}">
        <tr>
            <th th:text="${libro.titulo}"/>
            <th th:text="${libro.autor}"/>
            <th th:text="${libro.isbn}"/>
            <th th:text="${libro.categoria}"/>


        </tr>
    </th:block>
</table>
</body>
</html>